*{
    margin: 0;
    padding: 0;
}
nav{
    padding: 10px;
}
nav a{
    text-decoration: none;
    margin-left: 10px;
    color: rgb(211, 33, 179);
    text-align: center;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80px;
}
header{
    background-color: black;
    height: 50px;
    text-align: right;
}
#container{
    border: 5px solid goldenrod;
    text-align: center;

}
.box{
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    display: inline-block;
}
main{
    background-color:rgb(236, 191, 228);
    height: 500px;
}
footer{
    text-decoration: none;
    margin-left: 10px;
    color: rgb(211, 33, 179);
    background-color: black;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    text-emphasis-color: green;
}